# .gitattributes
*		whitespace=space-before-tab,trailing-space
*.[chly]	whitespace=space-before-tab,trailing-space,indent-with-non-tab,tabwidth=4
*.[ch]		linguist-language=C

# Test output files that contain extra whitespace
*.out		-whitespace

# not to be counted as code
.dir-locals.el	linguist-documentation
.editorconfig	linguist-documentation
