
body {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	color: #000;
	background-color: #fff;
}

#headContainer, #bodyContainer, #footer {
	margin: 0 auto;
	width: 95%;
}

@media (min-width:950px) {
	#headContainer, #bodyContainer, #footer {
		width: 85%;
	}
}

#bodyContainer {
	clear: both;
}

#footerContainer {
	margin-top: 6ex;
	margin-bottom: 2ex;
}

dd p {
	margin-top: 1ex;
}

p, ol, ul, dl, pre {
	line-height: 150%;
}

dd {
	margin-bottom: 8px;
}

h1 {
	margin-top: 2ex;
	font-size: 175%;
}

h2 {
	margin-top: 2ex;
	font-size: 150%;
}

pre code {
	padding: 0;
	font-size: 120%;
	line-height: 150%;
}

code.shortcode, code.longcode {
	padding: 2px 3px;
	font-size: 120%;
	color: #000;
	background-color: #eee;
}

/* prevent line-breaks in short code spans */
code.shortcode {
	white-space: pre;
}

pre.codeblock {
	margin: 2ex 2em 2ex 2em;
	padding: 2ex;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	color: #000;
	background-color: #eee;
	box-shadow: 3px 3px 5px #ddd;
	border-color: #ccc;
	overflow: auto;
}

#logo {
	width: 30vw;
	height: 33vw;
	float: right;
	margin-left: 1em;
	margin-right: 5vw;
	background-color: inherit;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% 100%
}

#logo a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

a[rel~="external"] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAW0lEQVQYlXWQgQ0AIQgD3cmd2Mmd2Kn/RPtCfZs0JngBSmsqA36d1YfDXqsOkB27wBM0RzWgTT8wFwjFy84FVIghYucCxmcUN+RgwLX8Hk1oTnBJauc5ruDVSQ92Teh+W2MqsAAAAABJRU5ErkJggg==) center right no-repeat;
	padding-right: 13px;
}

/* eof */
